@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&family=Kanit:ital,wght@0,100;0,200;0,500;1,200&family=Nunito:wght@300;400&family=Maven+Pro:wght@400;700&family=Saira+Semi+Condensed:wght@100;200;400&display=swap");

$color: hsl(40, 3%, 21%);
$main: hsl(41, 95%, 50%);
$white: hsl(42, 92%, 95%);
$black: hsl(0, 0%, 18%);
$grey: hsl(0, 0%, 46%);
